@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito';
}

body {
  text-align: center;
  color: #0c4fe1;
  height: 100%; 
}

h1 {
  color: #EABE3F;
  padding: 50px;
  font-size: 40px;
}

.container {
  background-color: none;
  max-width: 80%;
  margin: auto;
  border: 3px solid #EABE3F;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 50px 0;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Evitar desbordamiento horizontal en dispositivos móviles */
}

.container2 {
  background-color: none;
  max-width: 80%;
  margin: auto;
  border: 3px solid #EABE3F;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 50px 0;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Evitar desbordamiento horizontal en dispositivos móviles */
}

.textosuperior {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  color:black;
  padding-right: 0.5em;
  padding-left: 0.5em;
}
.pregunta {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 35px;
  justify-content: center;
  align-items: center;
  padding-right: 0.5em;
  padding-left: 0.5em;
}



.msj {
  font-size: 30px;
  height: 30px;
}

#buttons-container {
  margin-top: 10px;
}


.guess-button {
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  font-size: 50px;
  margin-bottom: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #4285f4;
  color: white;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#play-again-button {
  background-color: #4285f4;
  border: 2px solid #000;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

#play-again-button:hover {
  background-color: #3367d6;
}

.game-image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 200px;
}

#score {
  font-size: 20px;
  margin-top: 20px;
}

#result {
  font-size: 24px;
  margin-top: 20px;
  font-weight: bold;
}

/* Nuevo código para redimensionar imágenes en dispositivos móviles */

@media (max-width: 768px) {
  .container, .container2 {
    max-width: 80%; /* Ancho completo en dispositivos móviles */
    flex-wrap: wrap; /* Permitir envolver las imágenes en múltiples líneas */
  }

  .guess-button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin-bottom: 10px;
}

.pregunta {
    font-size: 30px;
}


}